

{% block stylesheets %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/Authenmain.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/Authenutile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">

{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


<div class="limiter">
    <div class="container-login100" style="background-image: url('{{ asset('img/bg.png') }}');">
        <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Registration
				</span>

    {{ form_start(registrationForm, {'attr': {'class': 'login100-form validate-form p-b-33 p-t-5'}}) }}
            <div class="wrap-input100 validate-input" data-validate = "Enter username">
    {{ form_widget(registrationForm.username,{'attr': {'class': 'input100'}} ) }}
                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input class="input100" type="password" name="pass" placeholder="Password">
    {{ form_widget(registrationForm.plainPassword, {

        label: 'Password',

    }) }}
                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
            </div>
            <div class="container-login100-form-btn m-t-32">
                <button type="submit" class="login100-form-btn">Register</button>
            </div>
    {{ form_end(registrationForm) }}
{% endblock %}
        </div>
    </div>
</div>
